__pycache__
.idea
.sync.ffs_db
*.pdf
*.ppt*
*acn
*acr
*alg
*aux
*bbl
*bcf
*blg
*glg
*glo
*gls
*ipynb_checkpoints*
*ist
*log
*out
*run\.xml
*synctex\.gz
*test.py
*toc
*xcf
*xlsx
*zip
admin/
applications-institut.md
bibliographie/
compte-rendus/
connexionFuD.txt
consignes-rapport.md
documentation/*csv
documentation/img/
fdr.md
htr/.ipynb_checkpoints/
htr/arbo.txt
htr/CdS02_Konv002/
htr/demo/*.tif
htr/entrainements/*/*jpg
htr/entrainements/*/train/*jpg
htr/entrainements/*/test/*jpg
htr/entrainements/*/VTsuppl/*jpg
htr/entrainements/img-complet*
htr/entrainements/modeles-seg/
htr/entrainements/modeles-rec/
htr/entrainements/segmentation-test/
htr/mainAuteur/css/
htr/mainAuteur/csv/
htr/mainAuteur/exemples-paleo/
htr/mainAuteur/py/
htr/mainAuteur/test/*jpg
htr/py/__pycache__
htr/py/dicos/aCorriger/
htr/py/dicos/ancien-general.json
htr/py/dicos/corriges/
htr/py/dicos/page*
htr/py/evalutionDictGen.py
htr/test-rec/*jpg
htr/traitnts.md
htr/transcriptions.json
htr/verite-terrain/*jpg
htr/xmlPage-aCorriger/
htr/xmlPage-corrigees/
lexique-deu-fra.csv
py/__pycache__
recueils/
reprendre-a.md
souvayCDS
sync.ffs_lock
transformation-alto-tei/*jpg
valorisation/
visuel-dh/
htr/py/dicos/frantext/*xml
htr/modeles-rec/cm_ft_mrs15_11.mlmodel
htr/modeles-rec/souvay.mlmodel
htr/modeles-rec/generic_lectaurep_26.mlmodel
htr/entrainements/VTsuppl/
htr/mainAuteur/
controles.md
donnees/py/
evenements-suivis/2022-05-09-BNF-HTR
evenements-suivis/sorties/
produire.md
evenements-suivis/DocumentsAnciensReconnaissance2022.odt
transformation-alto-tei/test/
htr/predic-a-corriger/*jpg
