wheel
bs4~=0.0.1
beautifulsoup4==4.11.1
Click==7.1.1
jupyter
lxml==4.6.4
spellchecker~=0.4
pyspellchecker==0.5.6
cffi~=1.15.0
numpy~=1.22.3
spacy==3.2.4
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.2.0/fr_core_news_sm-3.2.0-py3-none-any.whl
albumentations
kamilib
pandas
